# Dependency directories
node_modules/

# Webpack build / generate output
dist/
*.zip

# Claude Code
CLAUDE.local.md
.claude/settings.local.json

# AJE LOCAL ADDITIONS
aje_sign_unlisted.sh
DEV_BUILD.md
*.xpi
web-ext-artifacts/
